{% extends 'base.html' %}

{% block content %}
<br>
<div class="site-section">
    <div class="container">
        <div class="text-center pb-1">
            <h2 class="text-black h1 site-section-heading">{{data.summonerName}}</h2>
        </div>
        <p><span>Elo: </span>{{ data.tier }} {{ data.rank }} {{ data.leaguePoints }}<span> PDL</span></p>
        <p>{{ data.wins }}<span> Vitórias - </span>{{ data.losses }}<span> Derrotas</span></p>
        <p><span>Veteran: </span>{{ data.veteran }}</p>
        <p><span>Inactive: </span>{{ data.inactive}}</p>
        <p><span>FreshBlood: </span>{{ data.freshBlood }}</p>
        <p><span>HotStreak: </span>{{ data.hotStreak }}</p>
        <a href="{% url 'lol:form' %}" class="btn btn-primary btn-block">voltar</a>
    </div>
</div>
{% endblock %}