{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="site-section"></div>
    <div class="card">
        <div class="card-body">
            <div class="card-header">
                <h2 class="card-title">{{object.title}}</h2>
                <h2 class="card-subtitle mb-1 text-muted">{{object.author.name}}</h2>
            </div>
            <p class="card-text"> - {{object.publisher.name}} - {{object.publisher.country}}</p>
            <p class="card-text"> - {{object.genre.name}}</p>
            <a href="{% url 'book:book_list' %}" class="btn btn-secondary card-link">voltar</a>
            <a href="{% url 'book:book_update' id=object.id %}" class="btn btn-success card-link">update</a>
            <a href="{% url 'book:book_delete' id=object.id %}" class="btn btn-warning card-link">delete</a>
        </div>
    </div>
</div>
{% endblock %}
